/* CSS for the navigation bar */
.navbarContainer {
    height: 64px;
    border-bottom: 1px solid rgb(210, 210, 210);
    display: flex;
    align-items: center;
}

.pages {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    min-width: 400px;
}

.headerText {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.headerText:hover {
    color: grey;
}

.leftNav {
    padding-left: 5%;
    flex: 45%;
}

.rightNav {
    flex: 45%;
    padding-right: 5%;
}
